
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
      <title>{{title}} - Home</title>
    </head>
    <body>
      <h1 class="title">{{title}}</h1>
      <h3 class="movies-header">Movies (2008-present) - </h3>
        <div class="movies-display">
        {{#movies}}
          <div class="movie-select">
            <h4><a class="title" href="/movies/{{link}}">{{title}} ({{year}})</a></h4>
            <img class="poster-home" src="/images/{{link}}.jpg">
          </div>
        {{/movies}}
        </div>
    </body>
  </html>
