
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>{{title}} - Home</title>
    </head>
    <body>
      <h1>{{title}}</h1>
        {{#movies}}
        <h1>{{title}}</h1>
        <h4> dir. {{director}}</h4>
        {{#each cast}}
        <ul>
          <li>{{this}}</li>
        </ul>
        {{/each}}
        <img src="/images/{{poster}}" class="poster">
        {{/movies}}
    </body>
  </html>
