
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Bangers|Francois+One|Quantico|Russo+One" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
      <title>MCU-App - {{title}}</title>
    </head>
    <body>
      {{> banner}}
      {{#movie}}
      <div class="column-body">
        <div class="column-left">
          <img class="single-poster" src="/images/{{link}}.jpg">
        </div>
        <div class="column-right">
          <div class="movie-single-header">
            <h1 class="movie-title-single">{{title}}</h1>
            <h4 class="directed-by"> Dir. {{director}}</h4>
          </div>
          <h4 class="starring">Starring:</h4>
          <h6 class="cast-list">{{cast}}</h6>
          <div class="rt">
            <p class="rt-score">Rotten Tomatoes Score: <span class="score-number">{{rt-score}}<span></p>
            <p class="rt-blurb"><span class="underline-sec">Critics Consensus</span>: {{rt-blurb}}</p>
        </div>
      </div>
      {{/movie}}
    </body>
  </html>
